* {
  box-sizing: border-box;
}
body {
  background-color: rgb(239, 239, 239);
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 20px 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  border-bottom: 1px solid rgb(197, 197, 197);
  background-color: white;
}
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  display: flex;
}
.resto {
  display: flex;
  background-color: white;
  padding: 20px 0;
}
.resto-desc {
  margin-top: 30px;
  font-size: 20px;
}
.resto-pic {
  width: 450px;
  border-radius: 5px;
}

.meal {
  padding: 0px 0;

  display: flex;
  flex-wrap: wrap;
}
.category {
  margin: 20px 0;
}
.card-menu {
  border-radius: 10px;
  margin: 10px 20px 10px 0;
  padding: 10px;
  background-color: white;
  display: flex;
  width: 20vw;

  justify-content: space-between;
}

.card-menu:hover {
  box-shadow: 0px 9px 36px -9px rgba(0, 0, 0, 0.5);
}
.description {
  height: 50px;
  overflow: hidden;
}
.img-menu {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: none;
}

.grade {
  width: 30px;
  margin-left: 10px;
}

.panier {
  background-color: white;
  border-radius: 10px;
  min-height: 300px;
  width: 350px;
  margin: 40px 0;
  padding: 10px;
  position: sticky;
  top: 50px;
  box-shadow: 0px 9px 36px -9px rgba(0, 0, 0, 0.5);
}

.btn-panier {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.btn-valider {
  border: none;
  background-color: gray;
}

.btn-blue {
  background-color: aqua;
}

.info-panier {
  max-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.panier-item {
  margin: 5px 0;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.panier-counter {
  display: flex;
  align-items: baseline;
}
.btn {
  background-color: white;
  border-radius: 50%;
  border: 5px solid aqua;
  margin: 5px;
  padding: 5px;
}
.subTotal {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
